.parallax-container {
    height: 180px;
}
.parallax-container .title-cover {
    width: 100%;
    height: 180px;
    margin-bottom: 2em;
    overflow: hidden;
}
.parallax-container .title-cover .text-container {
    width: 100%;
    padding-left: .8em;
    padding-right: .8em;
    z-index: 999;
}
.parallax-container .title-cover .text-container h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: .2em;
}
.parallax-container .title-cover .text-container p {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    font-weight: 200;
    opacity: .9;
    max-width: 80%;
    margin: .4em auto auto;
}

.backdrop, .parallax img {
    -webkit-transform: translate3d(0, 0, 0);
}

.parallax-container {
    position: relative;
    overflow: hidden;
}
.parallax, .parallax img {
    position: absolute;
    bottom: 0;
}
.parallax {
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.parallax img {
    display: none;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
